.app-container {
  height: 100vh;
  background-color: #ffffff;
}
.top-container {
  background-color: #3367d6;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
input {
  background-color: #2850a7;
  border: 1px solid #6697ff;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 400px;
  min-width: 100px;
  outline: none;
  color: #ffffff;
}
.search-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  width: 65%;
}
.search-icon {
  background-color: #2850a7;
  border: 1px solid #6697ff;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 45px;
  min-width: 10px;
}
.history {
  margin-top: 7px;
}
.browser-container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-list {
  list-style-type: none;
  box-shadow: 0px 4px 16px 0px;
  width: 80%;
}
@media (max-width: 767px) {
  .history-list {
    list-style-type: none;
    box-shadow: 0px 4px 16px 0px;
    width: 80%;
    padding-left: 0;
  }
}
.error {
  padding-top: 220px;
  font-size: 40px;
}
